.cmn-zamy-sdbr {
    z-index: 999;
}
.cmn-zamy-sdbr {
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    background: #fff;
    transition: transform .3s ease-out;
    z-index: 10001;
    transform: translateZ(0);
	width:33%;
}
.position-relative{
	position: relative;
}
.cmn-sgy-div {
    height: 100vh;
    position: relative;
    background: #F6F6F6;
}
.zamy-srch{
	padding-left:75px;
	padding-right: 40px; 
}
.zamy-clse{
	padding: 32px 0 20px;
    margin-bottom: 30px;
}
.SSFcO {
    float: left;
    color: #3d4152;
    cursor: pointer;
}
.zamy-src-inpt input#searchInput {
    border: 1px solid #ccc;
    box-shadow: none;
    height: 50px;
    border-radius: inherit;
    margin-bottom: 20px;
}
.zmy-src-lctn{
	padding-left: 75px; padding-right: 40px;
}
.svd-adrs {
    max-width: 450px;
    padding: 0 55px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.cmn-box-dsgn{
	background: #fff;
	border-color: transparent;
	box-shadow: 0 5px 32px 0 rgba(0, 0, 0, 0.04);
}
.location-gtbx:hover .lctn-txt-ttl{
color: 	#e03335;
}
.location-gtbx{
	cursor: pointer;
	position: relative;
}
.rct-adrs:hover .adrs-txt{
color: 	#e03335;
}
.rct-adrs{
	cursor: pointer;
	position: relative;
}
.bg-theme{
	background: #e03335;
}
.achr-btn{
color: #e03335;
    border: 1px solid #e03335;
    margin-top: -7px;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 10px 0;
    font-weight: 600;
}
.mb20{
	margin-bottom: 20px;
}
.bg-theme:hover{
	color: #fff;
}
[class*=" icon-"], [class^=icon-] {
    font-family: icomoon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.map_div {
    height: 250px;
    background: gray;
    position: relative;
}
.margin-bottom {
    margin-bottom: 0;
}

#geoData {
    margin: 0;
    padding: 0;
    list-style-type: none;
	color: #282c3f;
}

.cmn-box-dsgn {
    padding: 0;
    border: 1px solid #d4d5d9;
	border-top-color: rgb(212, 213, 217);
	border-right-color: rgb(212, 213, 217);
	border-bottom-color: rgb(212, 213, 217);
	border-left-color: rgb(212, 213, 217);
    margin-bottom: 20px;
}
.get-cmn-box {
    display: table;
    table-layout: fixed;
    padding: 22px 24px;
}

.get-location {
    display: table;
    table-layout: fixed;
    padding: 11px 24px;
}

.crosshairs {
    text-align: left;
    font-size: 18px;
    width: 32px;
    padding-top: 0;
    padding-left: 1px;
    color: #535665;
	display: table-cell;
}

.using-gps {
    font-size: 13px;
    color: #93959f;
    line-height: 1.3;
    padding-top: 5px;
}

.save-address{
	font-size: 12px;
	color:  #7e808c;
    margin: 25px 0 0;
	margin-left: 0px;
    margin-left: 56px;
}
.recent-search {
	font-size: 12px;
	color: #7e808c;
	margin: 25px 0 0;
	margin-left: 0px;
	margin-left: 56px;
}
.svd-adrs .fa-clock-o {
    text-align: left;
    font-size: 18px;
    width: 32px;
    padding-top: 0;
    padding-left: 1px;
    color: #535665;
	display: table-cell;
}

.address-wrap {
    vertical-align: middle;
	display: table-cell;
}

.adrs-txt {
    font-size: 16px;
    font-weight: 500;
    color:  #282c3f;
}

.address-desc {
    font-size: 13px;
    color: #93959f;
    line-height: 1.3;
    padding-top: 5px;
}
.skip-later {
    border: none;
    color: #fc8019;
    color: #fff;
	background-color: #ea1b25;
	box-shadow: 0 1px 3px 0  rgba(0,0,0,.12);
    margin-top: 15px;
	
}
.map-red-btn{
	width: 100%;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	height: 50px;
	padding: 0 2rem;
	font-weight: 600;
	height: 66px;
	line-height: 66px;
	letter-spacing: 0;
}
.save-adr-box-wrap{
	display: flex;
	position: relative;
	border: 1px solid #d4d5d9;
	height: 52px;
}
.save-adr-box {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-align: center;
    align-items: center;
	-ms-flex-pack: center;
    justify-content: center;
    border-left: 1px solid #d4d5d9;
    border-left-width: 1px;
    cursor: pointer;
}

#other_map_address {

    box-shadow: none;
    border-width: 0;
    border-left-width: 0px;
    border-left-width: 1px;
	border: 1px solid #d4d5d9;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
	padding: 0;
	display: block;
	position: relative;
	transform: translateZ(0);
}
#other_address_type {

	padding: 0 70px 1px 15px;
	height: 50px;
	font-size: 1.15rem;
	background-color:transparent;
	line-height: normal;
	border: none;
	outline: none;
	width: 100%;
	margin: 0;
	box-shadow: none;
	box-sizing: border-box;
	border-radius: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
}
.cancel_other_input {

    position: absolute;
    top: 0;
    right: 0;
    margin-top: 18px;
    margin-right: 18px;
    font-weight: 500;
    color:  #fc8019;
    cursor: pointer;

}
.building-wrap{
	border: 1px solid d4d5d9;
	padding: 0;
	display: block;
	position: relative;
	transform: translateZ(0);
}
.add-more-box {

    background-color:transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
        padding-top: 0px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;

}

._381fS {
    background-color: transparent;
    line-height: normal;
    border: none;
    outline: none;
    height: 70px;
    width: 100%;
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
        padding-top: 0px;
    padding-top: 22px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

#current_area,#current_address {
    color: #fff;
}
.fa.fa-angle-down {
    font-size: 25px;
	display: contents;
}

#current_address {
    text-align: right;
}

.cancel_address_btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 18px;
    margin-right: 18px;
    font-weight: 500;
    color: #ea1b25;
    cursor: pointer;
}

#set_delivery_location_wrap .fa-arrow-left{
	padding: 10px;
}
